<h1 align="center"><img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/> Hey! Nice to see you.</h1>

<p align="center">Welcome to my page! </br> <b>I'm Bibek Lamichhane</b>, Backend developer from <img src="https://cdn-icons-png.flaticon.com/512/630/630696.png" width="13"/> <b>Pokhara, Nepal</b> </p>

<p align="center">
  <a href="https://github.com/LamichhaneBibek" target="_blank"><img alt="Github" src="https://img.shields.io/badge/GitHub-%2312100E.svg?&style=for-the-badge&logo=Github&logoColor=white" /></a>  <a href="https://www.linkedin.com/in/LamichhaneBibek/" target="_blank"><img alt="LinkedIn" src="https://img.shields.io/badge/linkedin-%230077B5.svg?&style=for-the-badge&logo=linkedin&logoColor=white" /></a>
</p>

<hr/>

<h3 align="center">Things I code with</h3>
<div align="center">
  <table>
    {{#rows}}
      <tr>
        {{#badges}}
          <td>
            <img alt="{{alt}}" src="{{src}}" />
          </td>
        {{/badges}}
      </tr>
    {{/rows}}
  </table>
</div>

<hr/>

{{!<div align="center">
    <img src="https://github-readme-stats.vercel.app/api?username=LamichhaneBibek&show_icons=true&theme=radical&hide_border=true" alt="LamichhaneBibek's github stats" />
    <br/>
    <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=LamichhaneBibek&layout=compact&theme=radical&hide_border=true" alt="Top Languages" />
</div>}}

<hr/>

<h3>Projects:</h3>
<ul>
  <li><a href="https://restapi.lamichhanebibek.com.np/swagger/index.html"><b><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/fire_1f525.png" width="20" alt="new" /> RestAPI</b></a><br/><i>A RestAPI-based backend service that implements secure authentication using JWT (JSON Web Tokens) and integrates with PostgreSQL for efficient data storage and management. The project provides a scalable and modular architecture, ensuring reliable API endpoints with role-based access control and smooth database operations.</i></li>
  <li><a href="https://chat.lamichhanebibek.com.np/"><b><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/fire_1f525.png" width="20" alt="new" /> Chat</b></a><br/><i>A real-time chat web application built with Next.js for the frontend and Golang for the backend. It provides seamless real-time messaging using WebSockets, ensuring fast and reliable communication between users. The app is designed for scalability, with a modern UI powered by Next.js and an efficient, concurrent backend built with Go.</i></li>
  <li><a href="https://games.lamichhanebibek.com.np"><b><img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/fire_1f525.png" width="20" alt="new" /> Games</b></a><br/><i>A web-based gaming application developed with Next.js, featuring classic games such as Sudoku, Tetris, and 2048. The app delivers a smooth and interactive user experience with responsive design and optimized performance, making it accessible across devices.</i></li>
</ul>

------------
<p align="center">This <i>README</i> file is generated <b>monthly</b>!</br>Last refresh: {{refresh_date}}<br /><a href="https://github.com/LamichhaneBibek/LamichhaneBibek">Create your own here!</a></p>
<p align="center"><img src="https://github.com/LamichhaneBibek/LamichhaneBibek/workflows/README%20build/badge.svg" /> <img alt="Stars" src="https://img.shields.io/github/stars/LamichhaneBibek/LamichhaneBibek?style=flat-square&labelColor=343b41"/> <img alt="Forks" src="https://img.shields.io/github/forks/LamichhaneBibek/LamichhaneBibek?style=flat-square&labelColor=343b41"/></p>
